* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.store-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo {
  width: 350px;
  display: flex;
  justify-content: center;
}

.menu {
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  color: #3d3d3d;
  border-bottom: 0.8px solid #3d3d3d;
  border-top: 0.8px solid #3d3d3d;
}

main {
  min-height: calc(100vh - 180.65px);
}

.banner {
  padding: 20px;
  margin-inline: auto;
  width: 100%;
  max-width: 800px;
}

img {
  width: 100%;
}

.container {
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #3d3d3d;
  padding-bottom: 15px;
}

#delivery-icon {
  font-size: 22px;
}

#home-icon {
  font-size: 25px;
}

#credit-icon {
  font-size: 23px;
}

#search {
  margin-left: 553px;
  margin-bottom: 15px;
  position: relative;
}

#input-search {
  border-radius: 2px;
  width: 200px;
  background-color: #ffcfe9;
  outline-color: #3d3d3d;
}

#search-icon {
  position: absolute;
  top: 7px;
  left: 175px;
  font-size: 14px;
  color: #3d3d3d;
}

.products {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-bottom: 20px;
}

#butterfly {
  width: 200px;
  border: 1px solid #787878;
  border-radius: 2px;
  padding: 10px;
}

#lemon {
  width: 200px;
  border: 1px solid #787878;
  border-radius: 2px;
  padding: 10px;
}

#serpent {
  width: 200px;
  border: 1px solid #787878;
  border-radius: 2px;
  padding: 10px;
}

.social-fields {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

#instagram {
  color: #FCA3D4;
}

#facebook {
  color: #FCA3D4;
}

#whats-app {
  color: #FCA3D4;
}

footer {
  padding: 50px;
  border-top: 0.8px solid #3d3d3d;
}
