* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.store-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo {
  width: 350px;
  display: flex;
  justify-content: center;
}

.menu {
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  color: #3d3d3d;
  border-bottom: 0.8px solid #3d3d3d;
  border-top: 0.8px solid #3d3d3d;
  cursor: pointer;
}

main {
  max-width: 1000px;
  margin-inline: auto;
}

#banner {
  padding-block: 10px;
  width: 100%;
  max-width: 1000px;
}

img {
  width: 100%;
}

.container {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #474747;
  padding: 10px;
}

#delivery-icon {
  font-size: 26px;
}

#home-icon {
  font-size: 29px;
}

#credit-icon {
  font-size: 27px;
}

#search {
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}

#input-search {
  border-radius: 2px;
  width: 200px;
  background-color: #ffcfe9;
  outline-color: #3d3d3d;
}

#search-icon {
  position: absolute;
  top: 7px;
  left: 175px;
  font-size: 14px;
  color: #3d3d3d;
}

.products1 {
  display: flex;
  justify-content: space-between;
  padding-top: 1px;
}

#monaco {
  width: 200px;
  border: 1px solid #787878;
  border-radius: 2px;
  padding: 10px;
}

#conjunto-punta {
  width: 200px;
  border: 1px solid #787878;
  border-radius: 2px;
  padding: 10px;
}

#cropped-ohio {
  width: 200px;
  border: 1px solid #787878;
  border-radius: 2px;
  padding: 10px;
}

#suede {
  width: 200px;
  border: 1px solid #787878;
  border-radius: 2px;
  padding: 10px;
}

.products2 {
  display: flex;
  justify-content: space-between;
  padding-block: 15px;
}

#rafa {
  width: 200px;
  border: 1px solid #787878;
  border-radius: 2px;
  padding: 10px;
}

#nina {
  width: 200px;
  border: 1px solid #787878;
  border-radius: 2px;
  padding: 10px;
}

#viviane {
  width: 200px;
  border: 1px solid #787878;
  border-radius: 2px;
  padding: 10px;
}

#ariane {
  width: 200px;
  border: 1px solid #787878;
  border-radius: 2px;
  padding: 10px;
}

main p {
  display: flex;
  justify-content: center;
  color: #3d3d3d;
}

input[type="submit"] {
  width: 180px;
  background: linear-gradient(to left, #f5daf0, #ffcfe9);
  cursor: pointer;
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 300;
  border-radius: 2px;
  transition: all 0.3s ease;
  border: none;
}

input[type="submit"]:hover {
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #f5daf0, #ffcfe9);
}

#show-all-products {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 80px;
}

#feedbacks {
  font-family: Licorice;
  font-size: 100px;
  color: #3d3d3d;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

#comments {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 1.8;
  font-size: 14px;
  padding-bottom: 20px;
  gap: 20px;
}

#comments>* {
  flex-basis: 100%
}

.comments-icon {
  color: #3d3d3d;
  font-size: 30px;
}

footer {
  padding: 20px;
  border-top: 0.8px solid #3d3d3d;
}

#social-fields-title {
  color: #fca3d4;
  display: flex;
  justify-content: center;
  font-family: Licorice;
  font-size: 78px;
}

.social-fields-container {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.social-icons {
  color: #e09bd7;
}

footer p {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: #3d3d3d;
  font-size: 15px;
  font-family: Poppins;
}

#smilling-heart {
  width: 100%;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fca3d4;
  padding: 8px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

.button-scroll {
  background-color: white;
  border: 1px solid #fca3d4;
  border-radius: 3px;
  font-size: 20px;
  padding: 7px;
  color: #fca3d4;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
